:root {
    --bg-dark: #0e0e0e;
    --card-bg: #1a1a1a;
    --primary: #ca0000;

}

body {
    background-color: #0e0e0e;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    margin: 0;
    overflow-x: hidden;
}

/* MAIN CONTENT */
.main-content {
    min-height: 100vh;
    margin-top: 90px;
}

.main-content.active { margin-left: 0; }

/* NAVBAR */
.navbar-custom {
    height: 70px;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 1px solid #222;
}

.toggle-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
/* CARDS */
.card-module {
    background: var(--card-bg);
    padding: 30px;
    border-radius: 20px;
    display: block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #333;
    height: 100%;
}
.icon-box {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.icon-box i { font-size: 28px; color: var(--primary); }

.status-badge.gray { background: #333; color: #888; }
.locked { opacity: 0.6; cursor: not-allowed; }