        .pregunta-card {
        background: #ffffff;
        padding: 20px;
        border-left: 5px solid #ca0000;
        margin-bottom: 20px;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.05);
        text-align: left;
        }
        /* Oculta las flechas en Chrome, Safari, Edge y Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        .my-4 {
            margin-top: 0.5rem !important;
            margin-bottom: 0.5rem !important;
        }
        .container {
            margin: 60px auto 20px auto; /* Separación de 140px para que el header fixed-top no tape el título */
            flex: 1; /* Obliga al footer a irse al fondo de la pantalla si hay poco contenido */
            box-sizing: border-box;
        }
        /* Oculta las flechas en Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
        .pregunta-card label {
            display: block;
            font-weight: 600;
            margin-bottom: 10px;
            color: #0a1f44;
        }
        select {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #fafafa;
        }
        .error-msg { color: #ca0000; font-weight: bold; background: #ffe6e6; padding: 15px; border-radius: 5px; margin-bottom: 20px; text-align: center; }
        .success-msg { color: #28a745; font-weight: bold; background: #e6ffe6; padding: 15px; border-radius: 5px; margin-bottom: 20px; text-align: center; }